.wrapper {
    max-width: 112rem;

    margin: 3.2rem auto;
    padding: 0 1.6rem;    /*conforme o conteudo for diminuindo, as laterais não ficaram coladas na tela*/

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 3.2rem;
    align-items: flex-start;
}


@media (max-width: 768px) {
    .body {
        font-size: 87.5%;
    }

    .wrapper {
        grid-template-columns: repeat(1, 1fr);
        
        max-width: 73.6rem;
    }
    
}






/*
o Padrão dos elementos div lado a lado é de ter um alinhamento que acompanhe o elemento do lado

escopo html = dentro do ambiente do html ( tudo ) 

*/